.content h1{
    text-align: center;
    font-size: 6rem;
    padding-bottom: 1.5rem;
    transition: font-size 2s ease;
}
h1:hover{
    font-size: 7rem;
}
.content{
    padding-top: 2.5rem;
}
#structure code{
    font-size: 1.7rem;
    margin-block: 2rem;
}
#structure code span{
    font-size: 1.7rem;
    transition: font-size 2s ease, font-weight 2s ease;
}
#structure code span:hover{
    font-size: 2rem;
    font-weight: bold;
}
.gap{
    margin-top: 7rem;
}
