.content h1{
    text-align: center;
    font-size: 6rem;
    padding-bottom: 1.5rem;
    transition: font-size 2s ease;
}
h1:hover{
    font-size: 7rem;
}
.content{
    padding-top: 2.5rem;
}
div.border{
    border-style: solid;
    border-radius: 5px;
    width: 100%;
    margin: 2%;
    padding: 5%;

}
.accordion-header{
    border-style: solid;
    border-color: #444444;
    margin-inline: 2px;
}

.flexcontainer{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}
.felxbox{
    width:50%;
}
.abstand {
    padding-left: 2rem;
}

button div{
    font-size: 1.5rem;
}